body {
    font-family: 'Special Elite', cursive;
    background: rgb(166, 225, 248);
}

.header_div {
    background: rgb(255, 166, 166);
    color: slateblue;
}

.header_div p {
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(128, 14, 128);
    font-family: 'Roboto', sans-serif;
}

.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    letter-spacing: 2px;
    font-weight: bolder;
}

.copy_right_footer {
    position: fixed;
    color: #1483e4;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #ffafaf;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(167, 166, 166);
}